.venv/
__pycache__/
*.pyc

.DS_Store

data/raw_videos/*
data/private_videos/*
*.mp4
*.mov
*.MOV
*.avi
*.m4v

results/**/overlay_videos/*
results/**/*.mp4
results/**/*.mov

.ipynb_checkpoints/

!data/raw_videos/.gitkeep
!data/annotations/.gitkeep
!data/metadata/.gitkeep
!results/.gitkeep
!report/.gitkeep

# Generated MediaPipe outputs
results/mediapipe/keypoints/
results/mediapipe/logs/
results/mediapipe/analysis/
results/mediapipe/figures/