.venv/
__pycache__/
*.pyc

.DS_Store

data/raw_videos/*
data/private_videos/*
*.mp4
*.MP4
*.mov
*.MOV
*.avi
*.AVI
*.m4v
*.M4V

results/**/overlay_videos/*
results/**/*.mp4
results/**/*.mov

results/mediapipe/keypoints/
results/mediapipe/logs/
results/mediapipe/analysis/
results/mediapipe/features/
results/mediapipe/figures/

.ipynb_checkpoints/

!data/raw_videos/.gitkeep
!data/annotations/.gitkeep
!data/metadata/.gitkeep
!results/.gitkeep
!report/.gitkeep